.container {
    width: 100%;
    max-width: var(--container);
    margin-inline: auto;
    padding-inline: 24px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 22px;
    border-radius: 5px;
    font-size: var(--fs-sm);
    font-weight: 600;
    transition: background var(--t-base), color var(--t-base), border-color var(--t-base), transform var(-t-fast);
}

.btn:active {
    transform: translateY(1px);
}

.btn--primary {
    background-color: var(--secondary);
    color: var(--neutral);
    font-size: var(--fs-base);
    font-family: var(--font-title);
}

.btn--secondary {
    background-color: var(--primary);
    padding: 20px;
    border: 2px solid;
    color: var(--neutral);
    border-radius: var(--radius-menor); 
    font-size: var(--fs-base);
    font-family: var(--font-title);
}

.card {
    background-color: var(--neutral-card);
    border: 1px solid var(--neutral-border);
    border-radius: var(--radius);
    padding: 28px;
    box-shadow: var(--shadow-menor);
    transition: transform var(--t-base), box-shadow var(--t-base);
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-medio);
}

.card h3 {
    font-size: var(--fs-lg);
    margin-bottom: 8px;
}

.card p {
    font-size: var(--fs-sm);
    color: var(--neutral-text2);
    font-family: var(--font-text);
}

.benefits h4 {
    font-size: var(--fs-base);
    margin-bottom: 4px;
    color: var(--primary);
}

.benefits p {
    font-size: var(--fs-sm);
    color: var(--neutral-text2);
}